@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.aeiouly-dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);

	--animate-aurora: aurora 60s linear infinite;

	@keyframes aurora {
		from {
			background-position:
				50% 50%,
				50% 50%;
		}

		to {
			background-position:
				350% 50%,
				350% 50%;
		}
	}
}

:root {
	--background: oklch(97.015% 0.00011 271.152);
	--foreground: oklch(0.2101 0.0318 264.6645);
	--card: oklch(1.0000 0 0);
	--card-foreground: oklch(0.2101 0.0318 264.6645);
	--popover: oklch(1.0000 0 0);
	--popover-foreground: oklch(0.2101 0.0318 264.6645);
	--primary: oklch(71.58% 0.18812 44.639);
	--primary-foreground: oklch(1.0000 0 0);
	--secondary:oklch(76.541% 0.14649 169.253);
	--secondary-foreground: oklch(1.0000 0 0);
	--muted: oklch(0.9670 0.0029 264.5419);
	--muted-foreground: oklch(0.5510 0.0234 264.3637);
	--accent: oklch(0.9670 0.0029 264.5419);
	--accent-foreground: oklch(0.2101 0.0318 264.6645);
	--destructive: oklch(0.5771 0.2152 27.3250);
	--destructive-foreground: oklch(1.0000 0 0);
	--border: oklch(0.9276 0.0058 264.5313);
	--input: oklch(0.9276 0.0058 264.5313);
	--ring: oklch(0.6461 0.1943 41.1158);
	--chart-1: oklch(0.6461 0.1943 41.1158);
	--chart-2: oklch(0.6089 0.1109 221.7231);
	--chart-3: oklch(0.5916 0.2180 0.5844);
	--chart-4: oklch(0.5413 0.2466 293.0090);
	--chart-5: oklch(0.6271 0.1699 149.2138);
	--sidebar: oklch(0.9670 0.0029 264.5419);
	--sidebar-foreground: oklch(0.2101 0.0318 264.6645);
	--sidebar-primary: oklch(0.6461 0.1943 41.1158);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(1.0000 0 0);
	--sidebar-accent-foreground: oklch(0.2101 0.0318 264.6645);
	--sidebar-border: oklch(0.9276 0.0058 264.5313);
	--sidebar-ring: oklch(0.6461 0.1943 41.1158);
	--font-sans: Poppins;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.75rem;
	--shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
	--shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
	--shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
	--shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
	--shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
	--shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0rem;
	--spacing: 0.25rem;
}

.aeiouly-dark {
	--background: oklch(0.2458 0.0153 256.8058);
	--foreground: oklch(0.9703 0.0103 247.9320);
	--card: oklch(0.2708 0.0149 256.7963);
	--card-foreground: oklch(0.9703 0.0103 247.9320);
	--popover: oklch(0.2708 0.0149 256.7963);
	--popover-foreground: oklch(0.9703 0.0103 247.9320);
	--primary: oklch(0.7049 0.1867 47.6044);
	--primary-foreground: oklch(1.0000 0 0);
	--secondary: oklch(76.541% 0.14649 169.253);
	--secondary-foreground: oklch(1.0000 0 0);
	--muted: oklch(0.2708 0.0149 256.7963);
	--muted-foreground: oklch(0.6137 0.0191 256.3213);
	--accent: oklch(0.2708 0.0149 256.7963);
	--accent-foreground: oklch(0.9703 0.0103 247.9320);
	--destructive: oklch(0.5864 0.2011 26.7933);
	--destructive-foreground: oklch(0.9703 0.0103 247.9320);
	--border: oklch(0.3609 0.0182 254.7578);
	--input: oklch(0.3609 0.0182 254.7578);
	--ring: oklch(0.7049 0.1867 47.6044);
	--chart-1: oklch(0.7049 0.1867 47.6044);
	--chart-2: oklch(0.7148 0.1257 215.2209);
	--chart-3: oklch(0.6559 0.2118 354.3084);
	--chart-4: oklch(0.6056 0.2189 292.7172);
	--chart-5: oklch(0.7227 0.1920 149.5793);
	--sidebar: oklch(0.2458 0.0153 256.8058);
	--sidebar-foreground: oklch(0.9703 0.0103 247.9320);
	--sidebar-primary: oklch(0.7049 0.1867 47.6044);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.2708 0.0149 256.7963);
	--sidebar-accent-foreground: oklch(0.9703 0.0103 247.9320);
	--sidebar-border: oklch(0.3609 0.0182 254.7578);
	--sidebar-ring: oklch(0.7049 0.1867 47.6044);
	--font-sans: Poppins;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.75rem;
	--shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.13);
	--shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.13);
	--shadow-sm: 0px 4px 12px -2px hsl(0 0% 0% / 0.25), 0px 1px 2px -3px hsl(0 0% 0% / 0.25);
	--shadow: 0px 4px 12px -2px hsl(0 0% 0% / 0.25), 0px 1px 2px -3px hsl(0 0% 0% / 0.25);
	--shadow-md: 0px 4px 12px -2px hsl(0 0% 0% / 0.25), 0px 2px 4px -3px hsl(0 0% 0% / 0.25);
	--shadow-lg: 0px 4px 12px -2px hsl(0 0% 0% / 0.25), 0px 4px 6px -3px hsl(0 0% 0% / 0.25);
	--shadow-xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.25), 0px 8px 10px -3px hsl(0 0% 0% / 0.25);
	--shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.63);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		letter-spacing: var(--tracking-normal);
		@apply bg-background text-foreground;
	}
}

#nprogress .bar {
	background: linear-gradient(90deg, #f58529, #dd2a7b, #8134af, #515bd4) !important;
	background-size: 300% 100% !important;
	animation: rainbowMove 3s linear infinite !important;
}

@keyframes rainbowMove {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}